<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ng2-hack-nite-participants</title>
  <base href="<%= APP_BASE %>">
  <meta name="description" content="Get to know your hackathon participants">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- inject:css -->
  <!-- endinject -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
</head>
<body>

<app>Loading...</app>

<!-- inject:js -->
<!-- endinject -->

<script src="<%= APP_BASE %>init.js?v=<%= VERSION %>"></script>

</body>
</html>
